<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sign-in.css">
    
    <title>Document</title>
</head>
<body>
   <header>
        <div class="logo">Logo</div>
        <nav id="nav">
          <ul>
            <a href="/"><li>Home</li></a>
            
            <a href="/sign-in"><li>Sign in</li></a>
            <a href="/log-in"><li>log in</li></a>

            
          </ul>
        </nav>
       
      </header>
  
    <div class="container">
            <div class="logo-container"></div>
            <div class="form-container">
                 <div class="form">
                      <input id="name" type="text" name="username" placeholder="username" required="true" autocomplete="off">
                      <input id="email" type="text" name="email" placeholder="email" required="true" autocomplete="off" >
                       <input id="password" type="password" name="password" placeholder="password" required="true">

                    <button type="submit" name="submit" onclick="submit()">sign-in</button>
                 </div>
            </div>
    </div>
</body>
<script src="/javascripts/signIn.js"></script>
</html>






{{!-- 
     </div>
        <form action="#" method="post">
        <input id="name" type="text" name="username" placeholder="username" required="true">
        <input id="email" type="text" name="email" placeholder="email" required="true">
        <input id="password" type="password" name="password" placeholder="password" required="true">
        <button type="submit" name="submit">sign-in</button>
        </form>

    </div> --}}
